extends ../menu
block content
  .container-fluid.project-run
    .row
      if user._id == project.master_id
        label.pull-left.run-title-project(data-toggle="modal" data-target="#rename-project")=project.title
        include rename_note
      else
        label.pull-left.run-title-project=project.title
      .date-project.pull-left
        label.label.label-warning#deadline-project End: &#32;
          =project.deadline
        label.label.label-success#sprint-project=project.sprint
          | &#32; Sprint
        input(type="hidden" value="#{sprint._id}" name="sprint_id")
        input(type="hidden" value="#{sprint.number}" name="sprint_number")
        input(type="hidden" value="#{project.count_date_of_sprint}" name="count_date_of_sprint")
        input(type="hidden" value="#{project.sprint}" name="count_sprint_project")
        label.label.label-danger Sprint &#32;
          =sprint.number
          | &#32;
        label.label.label-danger#sprint_start=sprint.start
        label.label.label-danger &#32; To &#32;
        label.label.label-danger#sprint_end=sprint.end
      input(type="hidden" name="project_id" value="#{project._id}")
      a#trig.btn.btn-warning.pull-right.glyphicon.glyphicon-backward
  .container-fluid 
    #center-wrapper
      .dhe-example-section#ex-1-3
        .dhe-example-section-content
          #example-1-3
            .column.left.first#todo(data-column = 1)
              span TODO
                  a.img-circle.glyphicon.glyphicon-plus.pull-right#new-note( data-toggle="modal" data-target="#new-note-form")
                  include new_note
                  input(type="hidden" name="idproject" value="#{project._id}")
              .scroll
                ul.sortable-list.column-first(data-column = 1)
                  -for(var i =0; i<noteFs.length; i++)
                    include ../partials/column-first
            .column.left(data-column = 2)
              span PROCESSING
              .scroll
                ul.sortable-list.column-second(data-column = 2)
                  -for(var i =0; i<noteSs.length; i++)
                    if noteSs[i].user.user_id == user._id || project.master_id == user._id
                      include ../partials/column-second
                    else
                      include ../partials/column-second-disable
            .column.left(data-column = 3)
              span TEST
              .scroll
                ul.sortable-list.column-third(data-column = 3)
                  -for(var i =0; i<noteTs.length; i++)
                    if noteTs[i].user.user_id == user._id || project.master_id == user._id
                      include ../partials/column-third
                    else
                      include ../partials/column-third-disable
            .column.left(data-column = 4)
              span DONE
              .scroll
                ul.sortable-list.column-four(data-column = 4)
                  -for(var i =0; i<noteFos.length; i++)
                    if noteFos[i].user.user_id == user._id || project.master_id == user._id
                      include ../partials/column-four
                    else
                      include ../partials/column-four-disable
  #remove-note-form.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;  
          h4.modal-title Remove Note
        .modal-body
          .container-fluid
            .row
              .col-md-12.text-center
                a#save-remove-note.glyphicon.glyphicon-trash(href="#" type='button')

  .container-fluid
    .row
      include ../partials/user_story_chart
      include ../partials/burn_down_chart
      include ../partials/column-pdo
  #sidebar
    include ../partials/sidebar
  #note_deteil_template
    include ../note/detail
  #param_project
    input(type="hidden" value="#{countNotes}" name="count_note")
    input(type="hidden" value="#{countPoints}" name="count_point")
    input(type="hidden" value="#{project.master_id}" name="master_project")
block script
  script(src='/javascripts/editor.js')
  script(src='/javascripts/user_story_chart.js')
  script(src='/javascripts/burn_down_chart.js')
  script(src='/javascripts/controller/note_controller.js')
  script(src='/javascripts/controller/user_story_controller.js')
  script(src='/javascripts/controller/socket_controller.js')
  script(src='/javascripts/controller/dragdrop_controller.js')
  script(src='/javascripts/controller/project_controller.js')
  script(src='/javascripts/controller/comment_controller.js')
  script(src='/javascripts/controller/tooltip_controller.js')
  script(src='/javascripts/view/note_view.js')
  script(src='/javascripts/view/dragdrop_view.js')
  script(src='/javascripts/toggle_sidebar.js')
  script(src='/javascripts/autocomplete.js')
  script(src='/js/socket.io-1.3.4.js')