extends ../menu
block content
  .container-fluid.project-run
    .row
      if user._id == project.master_id
        label.run-title-project( data-toggle="modal" data-target="#rename-project")=project.title
        #rename-project.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog.modal-sm
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;      
                      h4#myModalLabel.modal-title Rename Project  
                    .modal-body.new-content-project
                      .container-fluid
                        .row
                          .col-md-12
                            .form-group
                              label.control-label Title
                              input.form-control(type="text" name="title" placeholder="Title" value="#{project.title}")
                    .modal-footer 
                      button.btn.btn-primary#save-new-project(type='button') Rename
      else
        label.run-title-project=project.title
      input(type="hidden" name="project_id" value="#{project._id}")
      a#trig.btn.btn-warning.pull-right.glyphicon.glyphicon-backward
  .container-fluid 
    #center-wrapper
      .dhe-example-section#ex-1-3
        .dhe-example-section-content
          #example-1-3
            .column.left.first#todo(data-column = 1)
              span TODO
                  a.img-circle.glyphicon.glyphicon-plus.pull-right#new-note( data-toggle="modal" data-target="#new-note-form")
                  #new-note-form.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                    .modal-dialog.modal-sm
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;  
                          h4#myModalLabel.modal-title New Note 
                        .modal-body
                          .container-fluid
                            .row
                              .col-md-12#note-content
                                textarea.form-control(rows='3')
                                br
                                input#note-rate.form-control(type='number', name='point', min='0', max='100')
                                br
                                input.form-control(type='number', name='estimate', min='0', max='100')
                                br
                                a#save-note.btn.btn-primary(type='button') Save
                  input(type="hidden" name="idproject" value="#{project._id}")
              .scroll
                ul.sortable-list.column-first(data-column = 1)
                  -for(var i =0; i<noteFs.length; i++)
                    include ../partials/column-first
            .column.left(data-column = 2)
              span PROCESSING
              .scroll
                ul.sortable-list.column-second(data-column = 2)
                  -for(var i =0; i<noteSs.length; i++)
                    if noteSs[i].user.user_id == user._id
                      include ../partials/column-second
                    else
                      include ../partials/column-second-disable
            .column.left(data-column = 3)
              span TEST
              .scroll
                ul.sortable-list.column-third(data-column = 3)
                  -for(var i =0; i<noteTs.length; i++)
                    if noteTs[i].user.user_id == user._id
                      include ../partials/column-third
                    else
                      include ../partials/column-third-disable
            .column.left(data-column = 4)
              span DONE
              .scroll
                ul.sortable-list.column-four(data-column = 4)
                  -for(var i =0; i<noteFos.length; i++)
                    if noteFos[i].user.user_id == user._id
                      include ../partials/column-four
                    else
                      include ../partials/column-four-disable
  #remove-note-form.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;  
          h4.modal-title Remove Note
        .modal-body
          .container-fluid
            .row
              .col-md-12.text-center
                a#save-remove-note.glyphicon.glyphicon-trash(href="#" type='button')

  .container-fluid
    .row
      .col-offset-md-12.pull-right
        .PDO
          .panel.panel-default
            .panel-heading PDO
            .panel-body dhjk
  #sidebar
    include ../partials/sidebar
  #note_deteil_template
    include ../note/detail
block script
  script(src='/js/jquery-ui.js')
  script(src='/javascripts/controller/note_controller.js')
  script(src='/javascripts/controller/socket_controller.js')
  script(src='/javascripts/controller/dragdrop_controller.js')
  script(src='/javascripts/controller/comment_controller.js')
  script(src='/javascripts/controller/tooltip_controller.js')
  script(src='/javascripts/view/note_view.js')
  script(src='/javascripts/view/dragdrop_view.js')
  script(src='/javascripts/toggle_sidebar.js')
  script(src='/javascripts/autocomplete.js')
  script(src='/js/socket.io-1.3.4.js')