html
  head
    title= title 
    script(src='/js/wysihtml5-0.3.0.js')
    script(src='/js/jquery-1.11.2.min.js')
    script(src='/js/jquery-ui.js')
    script(src='/js/bootstrap-datepicker.min.js')
    script(src='/javascripts/view/brower_view.js')
    script(src='/js/moment.js')
    script(src='/js/livestamp.min.js')
    link(rel='stylesheet', href='/css/bootstrap-wysihtml5.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/datepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styledrag.css')
    link(rel='stylesheet', href='/stylesheets/dragdrop.css')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.validate.min.js')
    script(src='/js/jquery.form.min.js')
    script(src='/js/highcharts.js')
    script(src='/js/exporting.js')
    script(src='/js/bootstrap-wysihtml5.js')
    script(src='/javascripts/datepicker-custom.js')
    script(src='/js/bootstrap-confirmation.min.js')
    script(src='/javascripts/view/notification_view.js')
  body
    input(type="hidden" name="socket_user_id" value="#{user._id}")
    input(type="hidden" name="socket_user_avatar" value="#{user.avatar}")
    input(type="hidden" name="socket_user_username" value="#{user.username}")
    nav.navbar.navbar-inverse
      .container-fluid
          .navbar-header
            a.navbar-brand(href='/',style="padding: 0")
              img(alt='Brand', src='/images/logo.png' style="width: 50px")
          ul.nav.navbar-nav.navbar-right#menu-head
            li.noti_toggle
              a.noti_count.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                span.badge
                i.glyphicon.glyphicon-bell
              ul.dropdown-menu.kanban-noti(role='menu')
            li.avatar_hear.img-circle
              if user.avatar == null
                label=user.firstname
              else
                img.size-image(alt='Brand', src='/uploads/images/#{user.avatar}' style="width:50px; height:50px;")
            li.dropdown
              a.dropdown-toggle#menu-info(href='#', data-toggle='dropdown', role='button', aria-expanded='false')=user.firstname+" "+user.lastname
                span.caret     
              ul.dropdown-menu(role='menu')
                li
                  a(href='/#{user.username}') Profile            
                li
                  a(href='/logout') Logout
  block content
  block script
