.container.user-profile
  .row
    .col-md-4
      .avatar.after-upload
        img.img-responsive(src='#{UserProfile.avatar}' style="width:250px; height:250px;")
    .col-md-8
      .alert.alert-info#description
        h1
          label Description
        p=UserProfile.description
  br
  .row
    div(role="tabpanel")
      ul.nav.nav-tabs(role="tablist")
        li.active(role="presentation")
          a(href="#activity" aria-controls="activity" role="tab" data-toggle="tab") Activity
        li(role="presentation")
          a(href="#profile" aria-controls="profile" role="tab" data-toggle="tab") Profile
      .tab-content
        .tab-pane.active#activity(role="tabpanel")
        .tab-pane#profile(role="tabpanel")
          .row
            .col-md-6
              form(role='form', method="post" id="form-register")
                label UserName
                input.form-control(type="text", name="username" value="#{UserProfile.username}", disabled) 
                br            
                label First Name                
                input.form-control(type='text',disabled  name="firstname" value="#{UserProfile.firstname}") 
                br            
                label Last Name                  
                input.form-control(type='text',disabled  name="lastname" value="#{UserProfile.lastname}") 
                br            
                label Registered Email                 
                input.form-control(type='text',disabled value="#{UserProfile.email}")